.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.footer a {
  font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
  text-decoration: none;
}
