<header class="header">
  <div><a class="home" href="/">🛒 pg-Store!</a></div>
  <div class="links">
    <a href="/form/category">Add Category</a>
    <a href="/form/product"> Add a Product</a>
  </div>
</header>
