<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MembersOnly! | Backroom</title>
  </head>
  <body>
    <h1>Become a Member!</h1>
    <form action="/user/member/" method="post">
      <label for="username">Username: </label>
      <input type="text" id="username" name="username" required minlength="1" />
      <label for="secretcode">Secret: </label>
      <input type="password" id="secretcode" name="secretcode" required />
      <input type="submit" />
    </form>
    <h1>Become an Admin!</h1>
    <form action="/user/admin/" method="post">
      <label for="user">Username: </label>
      <input type="text" id="user" name="username" required minlength="1" />
      <label for="passcode">Passcode: </label>
      <input type="password" id="passcode" name="passcode" required />
      <input type="submit" />
    </form>
  </body>
</html>
