<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Virtual Drive | Home</title>
  </head>
  <body>
    <h1>Create Directory</h1>
    <form action="/directories/create" method="post">
      <div>
        <label for="folder">Folder Name: </label>
        <input type="text" id="folder" name="folder" />
      </div>
      <div>
        <input type="submit" />
      </div>
    </form>
  </body>
</html>
