<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MembersOnly! | Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <form action="/user/login" method="post">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" placeholder="jdoe69" required minlength="1" />
      <label for="password">Password</label>
      <input type="password" name="password" id="password" placeholder="*********" required minlength="8" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
