<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="domStuff.js" type="module" defer></script>
    <link rel="stylesheet" href="/styles.css" />
    <title>Inventory | Update Category</title>
  </head>
  <body>
    <%- include('../header') %>
    <div class="hero">
      <div class="message">
        <h1>Welcome to 🛒 pg-Store!</h1>
        <h2>Update the form below to edit a Category</h2>
      </div>
      <div class="form">
        <h1>Edit Category</h1>
        <%- include('../partials/error') %>
        <form action="" method="get">
          <label for="category">Category: </label>
          <input
            type="text"
            name="category"
            id="category"
            value="<%= category %>"
            required
            minlength="1"
          />
          <button type="submit">Update</button>
        </form>
      </div>
    </div>
    <%- include('../footer')%>
  </body>
</html>
