<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Board | Detail</title>
  </head>
  <body>
    <div>
      <h1><%= title %></h1>
    </div>

    <div>
      <h2><%= messages[0].username %></h2>
      <section><%= messages[0].text %></section>
      <strong><%= messages[0].added %></strong>
      <a href="/">Go Back</a>
    </div>
  </body>
</html>
